html {
    height: 100%;
}

body {
    background-color: #101D23;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: white;
    min-height: 100vh;
}

#whole-page {
    display: flex;
    flex-direction: row;
}

#sidebar {
    background-color: #0E191E;
    width: 30%;
    max-width: 600px;
    min-height: 100vh;
}

#lesson {
    width: 70%;
    min-height: 100vh;
}

header {
    background-color: #0E191E;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-family: Arial, sans-serif;
    max-width: 1000px;
}

header ul li {
    padding: 30px;
}

.top-of-page {
    padding-top: 200px;
}

main {
    background-color: #101D23;
    min-height: 200px;
    width: 100%;
    font-size: 1.2em;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    font-family: Arial, sans-serif;
}

#sidebar ul li {
    padding: 20px;
    max-width: 1000px;
}

main ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    font-family: Arial, sans-serif;
}

main ul li {
    padding: 20px;
    max-width: 1000px;
}

.endungen-table {
    border-collapse: collapse;
    min-width: 600px;
}

.endungen-table, 
.endungen-table th,
.endungen-table td {
    border: 2px solid white;
    padding: 10px;
}

.blue {
    color: lightskyblue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.large-text {
    font-size: 30px;
    font-weight: bold;
}

.larger-text {
    font-size: 70px;
    font-weight: bold;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: #0E191E;
    height: 100px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 30px;
    
}

a {
    color: white;
}

.no-underline {
    text-decoration: none;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0E191E;
    height: 100px;
    width: 200px;
    padding: 30px;
    font-size: 20px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1200px) {
    #einstellungen-content {
        right: 0;
    }
}